@font-face {
  font-family: "NeuzeitGrotesk";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/33AD8B_0_0.eot");
  src: url("../fonts/33AD8B_0_0.eot?#iefix") format("embedded-opentype"),
       url("../fonts/33AD8B_0_0.woff2") format("woff2"),
       url("../fonts/33AD8B_0_0.woff") format("woff"),
       url("../fonts/33AD8B_0_0.ttf") format("truetype");
}

@font-face {
  font-family: "NeuzeitGrotesk";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/33AD8B_2_0.eot");
  src: url("../fonts/33AD8B_2_0.eot?#iefix") format("embedded-opentype"),
       url("../fonts/33AD8B_2_0.woff2") format("woff2"),
       url("../fonts/33AD8B_2_0.woff") format("woff"),
       url("../fonts/33AD8B_2_0.ttf") format("truetype");
}

@font-face {
  font-family: "NeuzeitGrotesk";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/33AD8B_3_0.eot");
  src: url("../fonts/33AD8B_3_0.eot?#iefix") format("embedded-opentype"),
       url("../fonts/33AD8B_3_0.woff2") format("woff2"),
       url("../fonts/33AD8B_3_0.woff") format("woff"),
       url("../fonts/33AD8B_3_0.ttf") format("truetype");
}

@font-face {
  font-family: "NeuzeitGrotesk";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/33AD8B_1_0.eot");
  src: url("../fonts/33AD8B_1_0.eot?#iefix") format("embedded-opentype"),
       url("../fonts/33AD8B_1_0.woff2") format("woff2"),
       url("../fonts/33AD8B_1_0.woff") format("woff"),
       url("../fonts/33AD8B_1_0.ttf") format("truetype");
}

html, body {
	font-family: NeuzeitGrotesk;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #c93b06;
}

/* NAVBAR */

.navbar-default {
	background-color: #fff;
}

.nav.navbar-nav>li.tickets {
	background-color: #c93b06;
	margin-top: 9px;
}

.nav.navbar-nav>li.tickets>a {
	color: #ffffff;
	padding: 10px;
}

.nav.navbar-nav>li>a {
	color: #192231;
}

.nav.navbar-nav>li.page-scroll>a:hover,
.nav.navbar-nav>li.page-scroll>a:focus,
.nav.navbar-nav>li.page-scroll>a:active,
.nav.navbar-nav>li.page-scroll>a.active {
    color: #c93b06;
}

.nav.navbar-nav>li.tickets>a:hover,
.nav.navbar-nav>li.tickets>a:focus,
.nav.navbar-nav>li.tickets>a:active,
.nav.navbar-nav>li.tickets>a.active {
	background-color: #192231;
}

img#nav-logo {
	width: 200px;
}

.navbar-default .navbar-toggle.collapsed .icon-bar {
	background-color: #1a242f;
}

.navbar-default .navbar-toggle:active .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
	background-color: #ffffff;
}

@media(max-width: 1024px) {
	img#nav-logo {
		width: 100px;
		margin-left: 0;
		margin-top: 19px;
	}
}

@media(max-width: 768px) {
	img#nav-logo {
		width: 150px;
		margin-left: 12px;
		margin-top: 12px;
	}
}

/* HEADER */

header, section.sponsors {
	color: #192331;
	background-color: #ffffff;
}

header .container-fluid {
	padding-top: 50px;
	padding-left: 0;
	padding-right: 0;
}

@media(min-width:768px) {
	header .container-fluid {
		padding-top: 100px;
	}
}

header .intro-text .tagline {
    font-size: 1.25em;
    font-weight: 300;
}

div.header-date-location {
	padding-top: 30px;
	color: #c93b06;
	font-size: 30px;
	margin-left: 30px;
}

@media (min-width: 768px) {
	div.header-date-location {
		margin-left: 100px;
	}
}

h2,h3,h4 {
	text-transform: none;
}

section h2 {
	font-size: 45px;
}

div.header-date {
	font-weight: bold;
	text-align: left;
}

div.header-location {
	text-align: left;
}

div.header-outline {
	background-image: url("../img/rebelcon_skyline_1280.png");
	height: 385px;
}

/* SECTIONS */

section.schedule, section.workshops, section.about, section.conduct, section.portfolio, section.speaker {
	color: #192231;
    background-color: #ffffff;
}

section {
	padding: 30px;
}

section.about {
	padding-top: 70px;
}

section.location {
	padding-left: 0;
	padding-right: 0;
}

section.speaker a {
	text-decoration: underline;
}

section h2 {
	margin-bottom: 40px;
}

section.location iframe {
	width: 100%;
}

section.location .place {
	font-size: 1.5em;
}

section.location .address {
	font-size: 1.25em;
}

section.location {
	padding-bottom: 0;
	color: #192231;
}

section.location div#map {
	width: 100%;
	height: 500px;
	margin-top: 40px;
}

#portfolio .portfolio-item .portfolio-link .caption {
	background: rgba(25,34,49,.8);
}

#portfolio {
	font-size: 20px;
	text-align: center;
}

/* SPONSORS */

.sponsor-image {
	height: 100px;
	line-height: 100px;
	text-align: center;
	margin-top:10px;
}

.platinum-sponsors .sponsor-image {
	height: 150px;
	line-height: 150px;
}

.platinum-sponsors, .gold-sponsors, .silver-sponsors {
	padding-bottom: 25px;
}

.gold-sponsors, .silver-sponsors {
	padding-top: 25px;
	border-top: 1px #ddd solid;
}

/* SCHEDULE */

div.schedule-day {
	margin-bottom: 50px;
	text-align: center;
}

div.schedule-workshop {
	padding-bottom: 20px;
	
}

section.workshops div.schedule-workshop {
	border-bottom: 1px #328cc1 solid;
	margin-bottom: 30px;
}

div.schedule-workshop .workshop-title {
	font-size: 150%;
	font-weight: bold;
}

div.schedule-workshop .workshop-speaker {
	font-size: 125%;
}

div.schedule-workshop .workshop-content {
	text-align: left;
}

div.schedule-workshop .workshop-content p {
	font-size: 100%;
}

div.schedule-workshop .workshop-content h4 {
	text-transform: none;
}

div.schedule-workshop div.book-ticket {
	font-weight: bold;
	padding-top: 10px;
	font-size: 20px;
}

table.schedule-table {
	border: 1px #fff solid;
}

table.schedule-table td {
	padding: 20px;
	text-align: center;
	vertical-align: top;
}

table.schedule-table td.schedule-time {
	width: 10%;
}

table.schedule-table td.schedule-keynote {
	background: #328cc1;
}

table.schedule-table td.schedule-track {
	width: 30%;
	background: #328cc1;
}

table.schedule-table div.schedule-title {
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 18px;
}

table.schedule-table td.schedule-time {
	vertical-align: top;
}

table.schedule-table tr {
	border-bottom: 1px #fff solid;
}

.schedule-talk {
	margin-bottom: 10px;
	border-left: 3px solid #c93b06;
}

.schedule-talk a {
	color: #328cc1;
}

.schedule-speaker {
	color: #192231;
	text-transform: none: 
}

.schedule-time {
	border-top: 1px #328cc1 solid;
	padding: 10px 0;
}

.schedule-talk img {
	margin-top: 10px;
}

/* SECTION - SOCIAL */

section#social {
	background-color: #f2f2f2;
	padding: 50px 0;
}

section#social a {
	font-size: 40px;
	padding: 0 20px;
}

section#social a.twitter {
	color: #0084b4;
}

section#social a.facebook {
	color: #3b5998;
}

/* SPEAKER PAGE */

section#speaker h4 {
	margin-top: 0;
}

.interview {
	border-top: 1px #ffffff solid;
	padding-top: 20px;
}

.interview-link {
	margin-top: 20px;
	font-size: 150%;
	text-align: center;
}

/* TESTIMONIALS */

div.testimonial {
	font-size: 150%;
	margin-top: 20px;
	vertical-align: top;
	border-left: 4px solid #328cc1;
	padding: 10px;
	color: #328cc1;
}

div.testimonial i.fas {
	font-weight: bold;
}

div.testimonial div.testimonial-speaker {
	text-align: right;
}

/* TITO */

div.tito-ticket-description {
	color: #192231;
}

button.tito-submit {
	background: #c93b06 !important;
	border: 1px solid #c93b06 !important;
}

button.tito-submit:hover {
	background: #192231 !important;
	border: 1px solid #192231 !important;
}